<!-- Folders -->

/.next
/.contentlayer
/.husky
/supabase
/template

<!-- Files -->

pnpm-lock.yaml
postcss.config.js
tailwind.config.js
next.config.js
next-env.d.ts
.eslintrc.js

contentlayer.config.js
commitlint.config.js

/components/MdxComponents.tsx
