@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  @apply text-font-clr bg-background-clr;
}

@layer components {
  .scroll-image {
    transform: perspective(300px) rotateX(-10deg) scale(0.6);
  }

  @media (min-width: 768px) {
    #box::after {
      content: "";
      height: 100%;
      width: 100%;
      transition: opacity 500ms;
      background: radial-gradient(
        600px circle at var(--mouse-x) var(--mouse-y),
        rgba(255, 255, 255, 0.6),
        transparent 20%
      );
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      pointer-events: none;
    }

    #box::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: radial-gradient(
        500px circle at var(--mouse-x) var(--mouse-y),
        rgba(255, 255, 255, 0.04),
        transparent 30%
      );
      opacity: 0;
      z-index: 3;
      transition: opacity 500ms;
      pointer-events: none;
    }

    #box:hover::before {
      opacity: 1;
      transition: opacity 300ms;
    }
  }

  #shout-out-box::before {
    content: "";
    width: 100%;
    height: 100%;
    background-image: conic-gradient(
      #f8522e 50deg,
      #8000ff 0deg,
      transparent 120deg
    );
    position: absolute;
    animation: rotate 2s linear infinite;
  }
  @keyframes rotate {
    0% {
      rotate: 0deg;
    }
    100% {
      rotate: -360deg;
    }
  }

  #shout-out-box::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(18, 20, 24);
    position: absolute;
    scale: 0.98;
    border-radius: 1em;
  }

  p > code {
    @apply text-white;
  }

  .range-slider__range::-webkit-slider-thumb {
    @apply w-4 h-4 duration-200 border-2 rounded-full appearance-none bg-white-low-opacity border-primary;
    border: 2px solid white;
    box-shadow: -507px 0 0 500px #8000ff;
  }

  .range-slider__range:active::-webkit-slider-thumb {
    box-shadow: -507px 0 0 500px #8000ff89;
  }
}
