@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 270deg 100% 50%;
    --color-secondary: 11deg 94% 58%;
    --color-font: 0, 0, 0, 0.9;
    --color-heading: 0deg 0% 0%;
    --color-background: 0deg 0% 95%;
    --color-button: 0deg 0% 95%;
    --color-box: 0deg 0% 95%;
  }

  [data-theme="dark"] {
    --color-button: 222deg 15% 13%;
    --color-background: 228deg 16% 6%;
    --color-font: 227, 229, 232, 0.8;
    --color-heading: 0deg 0% 100%;
    --color-box: 220deg 14% 8%;
  }

  [data-theme="turquoise"] {
    --color-primary: 174 63% 40%;
    --color-secondary: 175 38% 40%;
    --color-button: 178 40% 87%;
    --color-background: 177 41% 91%;
    --color-font: 38, 51, 57;
    --color-heading: 0deg 0% 0%;
    --color-box: 178 40% 87%;
  }

  [data-theme="spring"] {
    --color-primary: 1deg 16% 49%;
    --color-secondary: 38deg 100% 18%;
    --color-button: 204 51% 67%;
    --color-background: 60deg 56% 91%;
    --color-font: 92, 92, 92;
    --color-heading: 1deg 16% 49%;
    --color-box: 60deg 38% 87%;
  }
}

html ::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
html ::-webkit-scrollbar-thumb {
  @apply bg-box/50;
  border-radius: 10px;
}

html.dark ::-webkit-scrollbar-thumb {
  @apply bg-box/50;
  border-radius: 10px;
}

* {
  @apply scroll-smooth scroll-pt-2;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@layer components {
  .scroll-image {
    transform: perspective(300px) rotateX(-10deg) scale(0.6);
  }

  @media (min-width: 768px) {
    #box::after {
      content: "";
      height: 100%;
      width: 100%;
      transition: opacity 500ms;
      background: radial-gradient(600px circle at var(--mouse-x) var(--mouse-y), rgba(0, 0, 0, 0.6), transparent 20%);
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      pointer-events: none;
    }

    #box::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: radial-gradient(500px circle at var(--mouse-x) var(--mouse-y), rgba(0, 0, 0, 0.1), transparent 30%);
      opacity: 0;
      z-index: 3;
      transition: opacity 500ms;
      pointer-events: none;
    }

    #box:hover::before {
      opacity: 1;
      transition: opacity 300ms;
    }

    [data-theme="dark"] #box::after {
      background: radial-gradient(
        600px circle at var(--mouse-x) var(--mouse-y),
        rgba(255, 255, 255, 0.6),
        transparent 20%
      );
    }
    [data-theme="dark"] #box::before {
      background: radial-gradient(
        500px circle at var(--mouse-x) var(--mouse-y),
        rgba(255, 255, 255, 0.04),
        transparent 30%
      );
    }

    [data-theme="turquoise"] #box::after {
      background: radial-gradient(
        600px circle at var(--mouse-x) var(--mouse-y),
        hsl(174, 63%, 40%, 1),
        transparent 20%
      );
    }
    [data-theme="turquoise"] #box::before {
      background: radial-gradient(
        500px circle at var(--mouse-x) var(--mouse-y),
        hsl(174, 63%, 40%, 0.1),
        transparent 30%
      );
    }

    [data-theme="spring"] #box::after {
      background: radial-gradient(
        600px circle at var(--mouse-x) var(--mouse-y),
        hsl(1deg, 16%, 49%, 1),
        transparent 20%
      );
    }
    [data-theme="spring"] #box::before {
      background: radial-gradient(
        500px circle at var(--mouse-x) var(--mouse-y),
        hsl(1deg, 16%, 49%, 0.2),
        transparent 30%
      );
    }
  }

  p > code {
    @apply text-black dark:text-white;
  }

  .range-slider__range::-webkit-slider-thumb {
    @apply w-4 h-4 duration-200 border-2 rounded-full appearance-none bg-white-low-opacity border-primary;
    border: 2px solid white;
    box-shadow: -507px 0 0 500px #8000ff;
  }

  .range-slider__range:active::-webkit-slider-thumb {
    box-shadow: -507px 0 0 500px #8000ff89;
  }

  #mdx > :is(h1, h2, h3) > a::before {
    @apply content-["#"] absolute top-1/2 right-0 md:-left-8 mr-2 font-light inline-block opacity-0 duration-200;
  }
  #mdx > :is(h1, h2, h3):hover > a::before {
    @apply -translate-y-1/2 opacity-50;
  }

  .information h1 {
    @apply relative pb-4 mt-6 mb-3 text-4xl font-bold capitalize border-b-2 text-heading border-white-low-opacity dark:border-white-low-opacity-d;
  }
  .information p {
    @apply mb-3 text-lg font-light;
  }
  .information code {
    @apply text-heading;
  }

  .playground__background {
    @apply bg-box border-white-low-opacity dark:border-white-low-opacity-d;
  }
}

/* CHECKBOX */
.toggler-wrapper {
  @apply block w-[35px] h-[20px] relative;
}

.toggler-wrapper input[type="checkbox"] {
  @apply hidden;
}

.toggler-wrapper input[type="checkbox"]:checked + .toggler-slider {
  @apply bg-green-500;
}

.toggler-wrapper .toggler-slider {
  @apply w-full h-full rounded-full bg-white-low-opacity dark:bg-white-low-opacity-d;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.toggler-wrapper .toggler-knob {
  position: absolute;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.toggler-wrapper.style-12 input[type="checkbox"]:checked + .toggler-slider .toggler-knob {
  left: calc(100% - 14px - 3px);
}

.toggler-wrapper.style-12 .toggler-knob {
  @apply w-[calc(20px-6px)] h-[calc(20px-6px)] rounded-[50%] left-[3px] top-[3px] bg-white bg-no-repeat bg-[80%] bg-center;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}
