@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply scroll-smooth scroll-pt-2;
}

body {
  @apply text-font-clr bg-background-clr;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
@layer components {
  .scroll-image {
    transform: perspective(300px) rotateX(-10deg) scale(0.6);
  }

  @media (min-width: 768px) {
    #box::after {
      content: "";
      height: 100%;
      width: 100%;
      transition: opacity 500ms;
      background: radial-gradient(
        600px circle at var(--mouse-x) var(--mouse-y),
        rgba(255, 255, 255, 0.6),
        transparent 20%
      );
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      pointer-events: none;
    }

    #box::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: radial-gradient(
        500px circle at var(--mouse-x) var(--mouse-y),
        rgba(255, 255, 255, 0.04),
        transparent 30%
      );
      opacity: 0;
      z-index: 3;
      transition: opacity 500ms;
      pointer-events: none;
    }

    #box:hover::before {
      opacity: 1;
      transition: opacity 300ms;
    }
  }

  p > code {
    @apply text-white;
  }

  .range-slider__range::-webkit-slider-thumb {
    @apply w-4 h-4 duration-200 border-2 rounded-full appearance-none bg-white-low-opacity border-primary;
    border: 2px solid white;
    box-shadow: -507px 0 0 500px #8000ff;
  }

  .range-slider__range:active::-webkit-slider-thumb {
    box-shadow: -507px 0 0 500px #8000ff89;
  }

  #mdx > :is(h1, h2, h3) > a::before {
    @apply content-["#"] absolute top-1/2 right-0 md:-left-8 mr-2 font-light inline-block opacity-0 duration-200;
  }
  #mdx > :is(h1, h2, h3):hover > a::before {
    @apply -translate-y-1/2 opacity-50;
  }
}

/* CHECKBOX */
.toggler-wrapper {
  @apply block w-[35px] h-[20px] relative;
}

.toggler-wrapper input[type="checkbox"] {
  @apply hidden;
}

.toggler-wrapper input[type="checkbox"]:checked + .toggler-slider {
  @apply bg-green-500;
}

.toggler-wrapper .toggler-slider {
  @apply w-full h-full rounded-full bg-white-low-opacity;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.toggler-wrapper .toggler-knob {
  position: absolute;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.toggler-wrapper.style-12
  input[type="checkbox"]:checked
  + .toggler-slider
  .toggler-knob {
  left: calc(100% - 14px - 3px);
}

.toggler-wrapper.style-12 .toggler-knob {
  @apply w-[calc(20px-6px)] h-[calc(20px-6px)] rounded-[50%] left-[3px] top-[3px] bg-white bg-no-repeat bg-[80%] bg-center;
}
