@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --foreground: 0 0 0;
  --primary: 161 119 49;
}

html.dark {
  --background: 23 24 29;
  --foreground: 255 255 255;
  --primary: 161 119 49;
}
