@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --foreground: 0 0 0;
  --primary: 161 119 49;
  --paragraph: 51 51 51;
  --muted: 51 51 51;
  --outline-button: 255 255 255;
  --grid-color: rgb(0, 0, 0, 0.1);
}

html.dark {
  --background: 23 24 29;
  --foreground: 255 255 255;
  --primary: 161 119 49;
  --paragraph: 193 192 180;
  --muted: 161 161 161;
  --outline-button: 35 32 33;
  --grid-color: rgba(23, 24, 29);
}

.grid-background::after {
  --nr: 30; /* number of rows */
  --nc: 60; /* number of columns */
  --b: 0.5px; /* border length */

  content: "";
  position: absolute;
  inset: 0;
  margin: 10px auto;
  z-index: -9999;

  background: conic-gradient(
      from 90deg at var(--b) var(--b),
      transparent 90deg,
      #d9d9d94e 0
    )
    calc(-1 * var(--b)) calc(-1 * var(--b)) / calc(100% / var(--nc))
    calc(100% / var(--nr));
}

html.dark .grid-background::after {
  --nr: 30; /* number of rows */
  --nc: 60; /* number of columns */
  --b: 0.5px; /* border length */

  background: conic-gradient(
      from 90deg at var(--b) var(--b),
      transparent 90deg,
      rgba(34, 35, 38, 0.5) 0
    )
    calc(-1 * var(--b)) calc(-1 * var(--b)) / calc(100% / var(--nc))
    calc(100% / var(--nr));
}

#rounded-animation::before {
  content: "";
  position: absolute;
  inset: -24px;
  background-image: conic-gradient(white 20deg, transparent 100deg);
  border-radius: 16px;
  z-index: -2;
}

#rounded-animation::after {
  content: "";
  position: absolute;
  inset: 1px;
  border-radius: 16px;
  z-index: -1;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.4);
}

/* Code Wrapper */
[data-rehype-pretty-code-fragment] {
  @apply my-8 mb-3 overflow-hidden rounded-lg border border-foreground/20 bg-[rgb(24,24,27)];
}

[data-rehype-pretty-code-fragment] > [data-rehype-pretty-code-title] {
  @apply border-b border-white/20 px-4 py-2 text-white;
}

[data-rehype-pretty-code-fragment] > pre {
  @apply overflow-auto py-2 outline-none duration-100;
}

[data-rehype-pretty-code-fragment] > pre::-webkit-scrollbar {
  height: 4px;
}
[data-rehype-pretty-code-fragment] > pre::-webkit-scrollbar-thumb {
  @apply rounded-full bg-white/50;
}

[data-rehype-pretty-code-fragment] code {
  @apply py-3;
}

[data-rehype-pretty-code-fragment]:has([data-rehype-pretty-code-title]) code {
  @apply py-0 pb-3;
}

[data-highlighted-chars] {
  background-color: rgba(63, 63, 70, 0.5);
  padding: 0.2rem;
  border-radius: 0.2rem;
}

[data-highlighted-line] {
  background-color: rgba(46, 46, 51, 0.5);
  padding: 0.2rem;
}

[data-chars-id="g"] {
  @apply bg-green-500/10;
}

[data-chars-id="r"] {
  @apply bg-red-500/10;
}

[data-chars-id="y"] {
  @apply bg-yellow-500/10;
}

[data-chars-id="p"] {
  @apply bg-purple-500/10;
}

code [data-line] {
  padding: 0.125rem 1rem;
}

code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers] > [data-line]::before {
  @apply mr-4 md:mr-8;
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 1rem;
  text-align: right;
  color: gray;
}

/* Swiper */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#grid-preview::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: transparent;
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      rgba(var(--background)) 25%,
      rgba(var(--background)) 26%,
      transparent 27%,
      transparent 74%,
      rgba(var(--background)) 75%,
      rgba(var(--background)) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      rgba(var(--background)) 25%,
      rgba(var(--background)) 26%,
      transparent 27%,
      transparent 74%,
      rgba(var(--background)) 75%,
      rgba(var(--background)) 76%,
      transparent 77%,
      transparent
    );
  background-size: 50px 50px;
  z-index: -1;
}

#grid-preview::before {
  @apply absolute right-0 top-0 -z-20 h-1/2 w-1/2 bg-primary/30 blur-[50px] dark:bg-primary/10;
  content: "";
}

/* PDF */
.react-pdf__Document {
  @apply rounded;
  overflow: hidden;
}

.react-pdf__Document > .react-pdf__Page {
  min-width: 100% !important;
  min-height: 100% !important;
  width: 100%;
  height: 100%;
}

.react-pdf__Document > .react-pdf__Page > .react-pdf__Page__canvas {
  width: 100% !important;
  height: 100% !important;
}
