/* Anchor */
#anchor::after {
  @apply absolute bottom-0 left-0 w-full h-0 duration-150 bg-blue-700 rounded-md -z-10;
  content: "";
}
#anchor:hover::after {
  @apply h-full;
}

/* Tips & Notes */
#tips > ol,
#tips > ul,
#Notes > ol,
#Notes > ul {
  margin: 0 !important;
}

/* Codes */
blockquote code {
  @apply text-black;
}
code {
  @apply px-1 bg-gray-200 rounded-md text-primary;
}

pre {
  @apply w-full sm:w-full max-w-[500px] lg:max-w-full;
}

.hljs {
  @apply w-full mb-8 text-sm md:text-base !bg-code-background;
  padding: 1em !important;
  border-radius: 0.5em;
}

.rehype-code-title {
  @apply relative overflow-hidden w-full sm:w-full max-w-[500px] lg:max-w-full bg-code-title rounded-t-md md:rounded-t-xl text-[#7dd3fc] text-sm px-4 py-2 mt-5 border-b-[1px] border-[#7dd3fc];
}

.rehype-code-title::after {
  @apply w-8/12 sm:w-10/12;
  content: "";
  height: 100%;
  background-color: #33415580;
  position: absolute;
  border-radius: 0.5em 0 0 0;
  border: 1px solid rgba(255, 255, 255, 0.153);
  top: 0;
  right: 0;
}

.rehype-code-title + pre .hljs {
  @apply border-t-0 rounded-t-none rounded-b-md md:rounded-b-xl;
}

/* Recharts */

.recharts-layer text {
  @apply fill-gray-700;
}

/* Images */

#content img {
  @apply w-full p-1 my-8 border-2 shadow-md rounded-2xl;
}
.icon {
  @apply !w-8 md:!w-12 border-none !rounded-none !shadow-none !my-0;
}

/* Text + List */

@media (min-width: 768px) {
  .link-heading::after {
    @apply content-['#'] text-base bg-gray-200 w-6 h-6 flex justify-center items-center absolute -left-9 top-1/2 -translate-y-4 opacity-0 rounded-md text-gray-800 duration-200;
  }
  .link-heading:hover::after {
    @apply -translate-y-1/2 opacity-100;
  }
}

#content > p {
  @apply text-base leading-[1.7];
}

li blockquote {
  @apply text-sm;
}
