@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply h-full;
}
body {
  @apply relative min-h-full text-paragraph pb-28;
}

@layer components {
  .background-style::after {
    @apply w-full h-[90%] bg-gradient-to-r from-[#0057ff] to-[#0055ff6e] absolute top-0 left-0 -z-10 -skew-y-3;
    content: "";
  }

  #hero-background {
    background: url("../public/Hero\ background.png") center/cover;
  }

  /* a {
    @apply focus:outline-none focus:text-black focus:border-b-2;
  } */

  /* .button-focus {
    @apply text-white focus:outline-none focus:-translate-y-1 focus:bg-opacity-70;
  } */

  .card-hover:hover {
    @apply text-white bg-primary border-primary;
  }

  @media (min-width: 1024px) {
    .card-hover:hover ~ .card-hover {
      @apply scale-95 translate-x-48 opacity-80 rotate-12;
    }
  }

  .my-masonry-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -30px;
    width: auto;
  }
  .my-masonry-grid_column {
    padding-left: 20px; /* gutter size */
    background-clip: padding-box;
  }

  .my-masonry-grid_column > div {
    margin-bottom: 20px;
  }
}
