:root {
  --background-pattern: rgba(0, 0, 0, 0.036);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .background {
    width: 100%;
    height: 100vh;
    background-color: white;
    background-image: linear-gradient(
        var(--background-pattern) 2px,
        transparent 2px
      ),
      linear-gradient(90deg, var(--background-pattern) 1px, transparent 1px);
    background-size: 40px 40px, 40px 40px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .bg {
    width: 100%;
    background-image: url("../assets/section1.gif");
    background-size: cover;
  }

  .background-style::after {
    content: "";
    width: 100%;
    height: 90%;
    background: linear-gradient(to right, #0057ff, #0055ff6e);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: skewY(-5deg);
  }

  .my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: auto;
  }
  .my-masonry-grid_column {
    padding-left: 20px; /* gutter size */
    background-clip: padding-box;
  }

  /* Style your items */
  .my-masonry-grid_column > div {
    /* change div to reference your elements you put in <Masonry> */
    margin-bottom: 20px;
  }
}

.hljs {
  @apply text-[3vw] md:text-base;
  background: #000a1e !important;
  padding: 1em !important;
  border-radius: 0.5em;
  border: 2px solid rgb(130, 130, 130);
}
